* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 

[class*="col-"] {
    float: left;
    border: 1px solid red;
    background-color: #ffffff;
}
body, html {height: 100%;}

body { padding: 5px; }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.longleftcol {
    height: 100%;
}
 
.rightBigCol {
    height: 100%;
    overflow: auto;
}
 
.topLineSmallCol {
    height: 20%;
}
 
.parallelContainerCol {
    height: 40%;
    overflow: auto;
}
 
.parallelCol {
    height: 40%;
}
 
.mediumRightCol {
    height: 40%;
}
 
.bottomLeftCol {
    height: 40%;
}

.bottomRightCol {
    height: 40%;
}
 @media only screen and (max-width: 750px) {
 
[class*="col-"] {
    width: 100%;
    float: none;
    display: block;
}

.longleftcol,
.rightBigCol,
.topLineSmallCol,
.parallelContainerCol,
.parallelCol,
.mediumRightCol,
.bottomLeftCol,
.bottomRightCol {
    height: auto;
}
[class*="col-"] {
    min-height: 80px;
}

.longleftcol {
    min-height: 80px;
}
 }


